.main{
    display: flex;
    width: 83vw;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (max-width: 600px) {
    .main{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        
    }
}
