@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.container-videos{
    display: flex;
    }
.container-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(240, 235, 235);
}

.category{
    display: flex;
    width: 100%;
}
h1{
    font-size: 16px;
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 20px;
    margin: 2px;
}

p{
    text-align: justify;
    margin: 10px;
}
.video{
    width: 310px;
    margin: 10px;
}
